.CtaMainWrapper {
    background-color: var(--bg-dark);
    color: var(--text-white);
    padding: 100px 0px 80px 0px;
    text-align: center;
}

.dot {
    color: var(--bg-blue);
}

.CtaMainWrapper h2 {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 4.375rem;
    line-height: 85px;
}

.ctaButton {
    padding: 15px 18px;
    border: 2px solid var(--bg-white);
    color: var(--text-white);
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    text-align: center;
  }
  
  .ctaButton:hover {
    background-color: #2C35CD;
    border: 2px solid #2C35CD;
    color: #fff;
    transition: 0.8s;
  }

    .dot__blink{
    animation: blink-animation 2s steps(8, start) infinite;
    -webkit-animation: blink-animation 2s steps(8, start) infinite;
    }
    @keyframes blink-animation {
    to {
        visibility: hidden;
    }
    }
    @-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
    }

  @media only screen and (max-width: 767px) {

    .CtaMainWrapper {
        padding: 35px 20px;
    }
    .CtaMainWrapper h2 {
        font-size: 1.563rem;
        line-height: 30px;
    }
    .CtaMainWrapper a {
        margin-top: 40px;
        font-size: 0.75rem;
        line-height: 15px;
        padding: 9px 30px;
    }
    .ctaButton {
        width: 160px;
        padding: 15px;
    }

  }

@media (min-width: 768px) and (max-width: 1024px) {

    .CtaMainWrapper {
        padding: 35px 0px;
    }
    .CtaMainWrapper h2 {
        font-size: 2.2rem;
        line-height: 40px;
    }
    .CtaMainWrapper a {
        margin-top: 40px;
        font-size: 0.75rem;
        line-height: 15px;
        padding: 9px 30px;
    }
    .ctaButton {
        width: 160px;
        padding: 15px;
    }

}
@media (min-width: 1025px) and (max-width: 1350px) {

    .CtaMainWrapper {
        padding: 35px 0px;
    }
    .CtaMainWrapper h2 {
        font-size: 3rem;
        line-height: 50px;
    }
    .CtaMainWrapper a {
        margin-top: 40px;
        font-size: 0.75rem;
        line-height: 15px;
        padding: 9px 30px;
    }
    .ctaButton {
        width: 160px;
        padding: 15px;
    }

}