.clients_section {
    padding: 70px 20px;
}

.lineTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

.lineTitle::before {
    background-color: #2C35CD;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin-right: 38px;
}

.mainTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4rem;
    color: #000;
    margin-top: 25px;
}

.dot {
    color: var(--bg-blue);
  }



  @media only screen and (max-width: 767px) {
    .clients_section {
        padding: 58px 8px;
    }
    .clients_section .content_Section div {
        width: 100% !important;
    }
    h3.lineTitle::before {
        width: 18%;
        margin-right: 15px;
        height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        font-size: 1.5rem;
        line-height: 29px;
    }
    .Para {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    .clients_section img {
        width: 100%;
        height: auto;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .clients_section .content_Section div {
        width: 100% !important;
    }
    h3.lineTitle::before {
        width: 18%;
        margin-right: 15px;
        height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        font-size: 2.5rem;
        line-height: 50px;
    }
    .Para {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 30px;
    }
    .clients_section img {
        width: 100%;
        height: auto;
    }
  }

  @media (min-width: 1025px) and (max-width: 1350px) {
    h3.lineTitle::before {
        width: 18%;
        margin-right: 15px;
        height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        font-size: 2.5rem;
        line-height: 50px;
    }
    .Para {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 30px;
    }
}