.processMainSection {
    padding: 90px 0px;
}

.lineTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 36px;
}

.lineTitle::before {
    background-color: #2C35CD;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin-right: 38px;
}

.mainTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 67px;
    color: #000;
    margin-top: 25px;
    width: 40%;
}

.Para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #5E5E5E;
    margin-top: 20px;
}

.dot {
    color: var(--bg-blue);
}

.processContentBox {
    background-color: var(--box-bg);
    padding: 25px 20px 60px 20px;
    border-radius: 10px;
}

.processContentBox img {
    filter: brightness(0);
}

.processContentBox:hover img {
    filter: brightness(1);
}

.processContentBox p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: .9rem;
    line-height: 26px;
    color: var(--text-gray);
    margin-bottom: 0px;
    text-align: center;
    margin-top: 29px;
}

.processContentBox:hover {
    background-color: var(--bg-blue);
    /* transform: scale(1.1); */
    transform-origin: center;
    transition-duration: 1s;
    /* padding: 45px 20px 85px;   */
}

.processContentBox:hover p {
    color: var(--text-white);
}

.processHoverableContentBox1, .processHoverableContentBox2 {
    margin-top: 35px;
}

.processHoverableContentBox1 h6, .processHoverableContentBox2 h6 {
    color: var(--text-black);
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
}

.processContentBoxWrapper:hover .processHoverableContentBox1 h6,
.processContentBoxWrapper:hover .processHoverableContentBox2 h6 {
    background-color: var(--light-bg);
    border-radius: 5px;
    padding: 6px 40px;
    width: fit-content;
    margin: auto;
    transition-duration: 1.3s;
}

.processHoverableContentBox1 p, .processHoverableContentBox2 p {
    visibility: hidden;
    color: var(--text-black);
    font-size: .875rem;
    line-height: 26px;
    width: 360%;
    text-align: center;
    font-weight: 500;
    padding-left: 80px;
    margin-top: 40px;
    /* position: relative;
    left: 40%; */
}

.processHoverableContentBox2 p {
    width: 320%;
    padding-left: 70px;
} 

.processContentBoxWrapper:hover .processHoverableContentBox1 p,
.processContentBoxWrapper:hover .processHoverableContentBox2 p {
    visibility: visible;
    transition-duration: 1.5s;
}

 .processHoverableBox4 p,
 .processHoverableBox5 p,
 .processHoverableBox6 p {
    position: relative;
    right: 230%;
    padding-left: 0px;
}

/* .processNumberLine::after {
    content: '';
    width: 6.3%;
    height: 2px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 21.5%;
    transform: translateY(9px);
}

.processNumberLineOne::after {
    content: '';
    width: 6.3%;
    height: 2px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 26.2%;
    transform: translateY(9px);
} */

/* .processNumberLineOne::before {
    content: '';
    width: 10.9%;
    height: 2px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 33%;
    transform: translateY(9px);
}

.processNumberLineTwo::before {
    content: '';
    width: 10.9%;
    height: 2px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 44.5%;
    transform: translateY(9px);
}

.processNumberLineThree::before {
    content: '';
    width: 10.9%;
    height: 2px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 56%;
    transform: translateY(9px);
}

.processNumberLineFour::before {
    content: '';
    width: 10.9%;
    height: 2px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 67.5%;
    transform: translateY(9px);
} */

.processNumberLine, .processNumberLineOne, .processNumberLineTwo,
.processNumberLineThree, .processNumberLineFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

.processNumberNormal {
    border: 1px solid var(--bg-blue);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    top: 4px;
    right: 1px;
    opacity: 1;
}

.processNumberHover {
    border: 1px solid var(--bg-white);
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 0.625rem;
    color: var(--text-white);
    position: absolute;
    opacity: 0;
    transform: scale(1.1);
}

.processContentBox:hover .processNumberNormal {
    opacity: 0;
}

.processContentBox:hover .processNumberHover {
    opacity: 1;
    transition: all .8s;
}

.processBoxesRow {

}
.processBoxDividerWrapper {
    width: 60%;
    height: 2px;
    background-color: var(--bg-blue);
    position: relative;
    top: -47.7%;
    left: 53%;
    bottom: 0;
    right: 0;
    transform: translateY(-3px);
}
.processBoxDividerWrapperRight {
    width: 73.6%;
    height: 1.5px;
    background-color: var(--bg-blue);
    position: relative;
    top: 0;
    left: -28%;
    bottom: 0;
    right: 0;
    transform: translateY(39px);
}
.processContentBoxWrapper:hover .processBoxDividerWrapper {
    width: 55%;
    left: 58%;
}
.processContentBoxWrapper:hover .processBoxDividerWrapperRight {
    width: 70%;
    left: -27.6%;
}

@media only screen and (max-width: 600px) {

    .desktopProcessBoxesRow {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: relative;
        overflow-x: scroll;
    }
    .processBoxes {
        min-width: 260px;
    }
    .processMainSection {
        padding: 40px 8px;
    }
    h3.lineTitle::before {
        width: 18%;
        margin-right: 15px;
        height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        width: 90%;
        font-size: 1.5rem;
        line-height: 29px;
    }
    .Para {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    .processHoverableContentBox1 p,
    .processHoverableContentBox2 p,
    .processNumberLine::after,
    .processNumberLineOne::before,
    .processNumberLineOne::after,
    .processNumberLineTwo::before,
    .processNumberLineTwo::after,
    .processNumberLineThree::before,
    .processNumberLineFour::before {
        display: none;
    }
    .processBoxDividerWrapper, .processBoxDividerWrapperRight {
        display: none !important;
    }
    .processBoxes:not(:last-child) {
        margin-bottom: 20px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .desktopProcessBoxesRow {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: relative;
        overflow-x: scroll;
    }
    .processBoxes {
        min-width: 280px;
    }
    h3.lineTitle::before {
        width: 18%;
        margin-right: 15px;
        height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        width: 100%;
        font-size: 2.5rem;
        line-height: 50px;
    }
    .Para {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 30px;
    }
    .processHoverableContentBox1 p,
    .processHoverableContentBox2 p,
    .processNumberLine::after,
    .processNumberLineOne::before,
    .processNumberLineOne::after,
    .processNumberLineTwo::before,
    .processNumberLineTwo::after,
    .processNumberLineThree::before,
    .processNumberLineFour::before {
        display: none;
    }
    .processBoxDividerWrapper, .processBoxDividerWrapperRight {
        display: none !important;
    }
    .processBoxes:not(:last-child) {
        margin-bottom: 20px;
    }
    .processBoxes {
        width: 50%;
    }
    .processBoxesRow {
        margin-top: 40px;
    }
}
@media (min-width: 1025px) and (max-width: 1350px) {
    h3.lineTitle::before {
      width: 18%;
      margin-right: 15px;
      height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        font-size: 2.5rem;
        line-height: 50px;
    }
    .Para {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 30px;
    }
    .desktopProcessBoxesRow {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: relative;
        overflow-x: scroll;
    }
    .processBoxes {
        min-width: 300px;
        margin-bottom: 20px;
    }
    .processHoverableContentBox1 p,
    .processHoverableContentBox2 p,
    .processNumberLine::after,
    .processNumberLineOne::before,
    .processNumberLineOne::after,
    .processNumberLineTwo::before,
    .processNumberLineTwo::after,
    .processNumberLineThree::before,
    .processNumberLineFour::before {
        display: none;
    }
}