.counterNumberWrapper span {
    background-color: #E3E3E3;
    color: #E3E3E3;
    padding: 17px 17px;
    border-radius: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 25px;
}
.counterNumberWrapperOne, .counterNumberWrapperTwo {
    margin-right: 140px;
}
.counterDivider {

}
.stepperWrapper {
    /* margin-bottom: 56px; */
    margin-bottom: 110px;
}
.stepperBar {
    background-color: #E3E3E3;
    width: 40%;
    height: 2px;
    margin: auto;
}