.PackagesCardBoxWrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 15%);
    border-radius: 10px;
    margin: 0px 15px 0px 0px;
    padding: 42px 10px 36px;
    width: 100%;
}

.PackagesCardBoxHeader {
    text-align: center;
}

.PackagesCardBoxBody {
    text-align: left;
    margin: 0px 10px;
}

.packagesTitle {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #969696;
}

.packagesPrice {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    margin-top: 14px;
}

.packagesDivider {
    border: 1px solid #969696;
    margin: 32px 0px;
}

.PackagesCardBoxBody p::before {
    content: '\2713';
    display: inline-block;
    margin-right: 30px;
    color: #2C35CD;
    font-size: 28px;
    line-height: 29px;
    font-weight: 500;
}

.PackagesCardBoxBody p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 37px;
    color: #000000;
}

.blueButton {
    padding: 16px 50px;
    background: #2C35CD;
    border-radius: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 80px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .blueButton:hover {
    /* background: transparent;
    border: 1px solid #2C35CD;
    color: #2C35CD; */
    color: #ffffff;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 30%);
    transition: 0.8s;
  }



  @media only screen and (max-width: 600px) {

    .PackagesCardBoxWrapper {
        min-width: 100%;
        margin-bottom: 20px;
    }

    .pricingBoxBtn {
        font-size: 0.75rem;
        line-height: 20px;
        padding: 13px 42px;
        margin-top: 50px;
    }

  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .PackagesCardBoxWrapper {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .pricingBoxBtn {
        font-size: 0.75rem;
        line-height: 20px;
        padding: 13px 42px;
        margin-top: 50px;
    }
  }