.PackagesCardBoxWrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 15%);
    border-radius: 10px;
    margin: 0px 15px 0px 0px;
    padding: 42px 10px 36px;
    width: 100%;
}

.PackagesCardBoxHeader {
    text-align: center;
}

.PackagesCardBoxBody {
    text-align: left;
    margin: 0px 10px;
    max-height: 440px;
    overflow: hidden;
}
.PackagesCardBoxBody:hover {
    overflow-y: scroll;
}

.packagesTitle {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.2rem;
    /* line-height: 40px; */
    text-align: center;
    color: #1a1a1a;
}

.packagesPrice {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 3rem;
    /* line-height: 52px; */
    color: #2c35cd;
    margin-top: 14px;
}

.packagesDivider {
    border: 1px solid #969696;
    margin: 32px 0px;
}

.PackagesCardBoxBody p::before {
    /* content: '\2713';
    display: inline-block;
    margin-right: 30px;
    color: #2C35CD;
    font-size: 28px;
    line-height: 29px;
    font-weight: 500; */
}

.PackagesCardBoxBody span:not(:last-child) {
    margin-bottom: 20px;
}

.packagesDetailsWrapper {
    display: flex;
    align-items: baseline;
}

.packagesDetailsIcon {
    margin-right: 25px;
    align-self: center;
}

.PackagesCardBoxBody p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 0px;
}

.blueButton {
    padding: 16px 50px;
    background: #2C35CD;
    border-radius: 100px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1rem;
    /* line-height: 28px; */
    margin-top: 80px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: var(--text-white);
    text-align: center;
    border: 2px solid var(--bg-blue);
  }
  .pricingBoxBtn {
    padding: 16px 50px !important;
    width: fit-content;
  }
  .pricingBoxBtn:hover {
    border: 2px solid var(--bg-blue);
    background-color: var(--bg-white);
    color: #2C35CD !important;
    transition: 0.8s;
  }
  
  .blueButton:hover {
    /* background: transparent;
    color: #2C35CD; */
    border: 2px solid #2C35CD;
    color: #ffffff;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 30%);
    transition: 0.8s;
  }



  @media only screen and (max-width: 767px) {

    .PackagesCardBoxWrapper {
        min-width: 100%;
        margin-bottom: 20px;
    }

    .pricingBoxBtn {
        font-size: 0.75rem;
        line-height: 20px;
        padding: 13px 42px;
        margin-top: 50px;
    }

  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .PackagesCardBoxWrapper {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .pricingBoxBtn {
        font-size: 0.75rem;
        line-height: 20px;
        padding: 13px 42px;
        margin-top: 50px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1350px) {

    .PackagesCardBoxWrapper {
        min-width: 40%;
        margin-bottom: 20px;
    }

    .pricingBoxBtn {
        font-size: 0.75rem;
        line-height: 20px;
        padding: 13px 42px;
        margin-top: 50px;
    }

  }