.lineTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.lineTitle::before {
    background-color: #2C35CD;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin-right: 38px;
}

.mainTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 67px;
    color: #000;
    margin-top: 25px;
}

.dot {
    color: var(--bg-blue);
}

.teamBtn {
    padding: 10px 55px;
    border: 1px solid #2C35CD;
    color: var(--text-blue);
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 18px;
    /* margin-top: 130px; */
    display: block;
    width: fit-content;
}

.teamBtn:hover {
    background-color: #2C35CD;
    border: 1px solid #2C35CD;
    color: #fff;
    /* box-shadow: 0px 4px 5px rgb(0 0 0 / 30%); */
    transition: 0.8s;
}

.teamMainSection {
    padding: 85px 90px;
}

.teamContentSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.teamMainSection p {
    color: var(--text-black);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
}

p.teamScrollDown {
    transform: rotate(-90deg);
    cursor: vertical-text;
    color: var(--text-gray);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 17px;
    letter-spacing: 1em;
    white-space: nowrap;
}




.AnimationImgBoxOne, .AnimationImgBoxTwo {
    position: relative;
}

.AnimationImgBoxTwo {

}

.AnimationImgBoxOne .imgOne,
.AnimationImgBoxTwo .imgOne {
  animation: test 10s linear infinite;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 4px 6px 2px rgb(26 26 26 / 15%);
  border-radius: 10px;
  filter: brightness(0.6);
}

@keyframes test {
    0% {
    opacity: 0;
    }
    25% {
    opacity: 1;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}


@media only screen and (max-width: 600px) {

    .teamMainSection {
        padding: 35px 10px;
    }
    h3.lineTitle::before {
        width: 18%;
        margin-right: 15px;
        height: 3px;
    }
    h3.lineTitle {
        font-size: 16px;
        line-height: 17px;
        font-weight: 500;
    }
    h2.mainTitle {
        font-size: 1.5rem;
        line-height: 29px;
    }
    .Para {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    .AnimationImgBoxOne img {
        width: 100%;
        height: auto;
        margin: 0px 0px 10px 0px;
    }
    .ourTeamAnimationTextOne,
    .teamScrollDownCol p,
    .hideAnimatedSec {
        display: none
    }
    .teamAnimatedPara {
        font-size: 0.875rem !important;
        line-height: 20px !important;
    }
}