.footerMainWrapper {
    background-color: #2C35CD;
    color: #fff;
    padding: 50px 0px 100px 0px;
}

.footerPara {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-top: 40px;
    width: 80%;
}
 
.footerMenuWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
}

.footerMenuWrapper a {
    margin: 8px 0px;
    text-decoration: none !important;
    color: var(--text-white);
}

.footerMenuWrapper a:hover {
    color: #fff;
}

.copyrightsSection {
    background-color: #1A1A1A;
    color: #fff;
}

.copyrightsSectionPara {
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.copyrightsSectionSubTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.paymentImages {
    display: flex;
}

.footerlinksMainCol {
    margin-top: 5rem;
    font-family: 'Inter';
}

@media only screen and (max-width: 600px) {

    .footerMainWrapper {
        padding: 36px 0px 60px 0px;
    }
    .footerPara {
        margin-top: 0px;
    } 
    .footerlinksMainCol {
        margin-top: 40px;
    }
    .footerMenuWrapper {
        margin-top: 30px;
    }
    .footerCompanyInfo {
        margin-top: 5px !important;
    }
    .paymentImages img {
        width: 40px;
        height: 25px;
    }
    .copyrightsSectionSubTitle, .copyrightsSectionPara {
        font-size: 1rem;
        line-height: 19px;
    }
    .copyrightsSectionSubTitle {
        margin-bottom: 4px;
    }
    .copyrightsSectionPara {
        margin-bottom: 30px;
    }

}