.innerBannerMainWrapper {
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/Assets/Assets/For Web/Banner-Service-Page.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 624px;
    color: var(--text-white);
    padding-top: 107px;
    margin-top: 100px;
}

.services-bg-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/Assets/Assets/For Web/Kodaweb-Service-Page.jpg')
}

.contactUs-bg-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/Assets/Assets/For Web/Kodaweb-Contact-Us.jpg')
}

.pricing-bg-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/Assets/Assets/For Web/Kodaweb-Pricing.jpg')
}

.aboutUs-bg-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/Assets/Assets/For Web/Kodaweb-About-Us.jpg')
}

.work-bg-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/Assets/Assets/For Web/Kodaweb-Our-work.jpg');
    height: 100vh;
    padding-top: 0px;
}
.workBannerContentWrapper {
    padding-top: 632px;
}
/* .workBannerContentWrapper p {
    font-weight: 400 !important;
    font-size: 1.375rem !important;
    line-height: 35px !important;
} */

.innerBannerMainWrapper h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.innerBannerMainWrapper p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 35px;
    margin-top: 43px;
    color: var(--banner-color);
}

.innerBannerRigtImage {
    
}

/* Responsive Start */

@media only screen and (max-width: 600px) {

    .innerBannerMainWrapper {
        height: 650px;
        padding-top: 314px;
        padding-bottom: 20px;
    }
    .innerBannerMainWrapper h2 {
        font-size: 2rem;
        line-height: 39px;
    }
    .innerBannerMainWrapper p {
        font-size: 0.875rem;
        line-height: 22px;
        margin-top: 12px;
    }
    .innerBannerMainWrapper img {
        width: 40%;
        height: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }
    .workBannerContentWrapper {
        padding-top: 0px;
    }
    /* .work-bg-img {
        padding-top: 0px;
        height: 90vh;
    } */
}

/* Responsive End */