.readOnlyText {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #969696;
}
.mainTitle {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: var(--text-black);
}
.briefMainSection {
    margin-top: 12px;
}
.mainSection h6 {
    margin-bottom: 40px;
}
.horizontalDivider {
    border: 1px solid var(--text-gray);
}
.summaryTitle, .summaryData {
    font-family: 'Inter';
    font-size: 1rem;
    line-height: 1.75rem;
}
.summaryTitle {
    color: var(--text-black);
    font-weight: 500;
}
.summaryData {
    color: var(--text-gray);
    font-weight: 400;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: right;
}