.lineTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 36px;
  }
  
  .lineTitle::before {
    background-color: #2C35CD;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin-right: 38px;
  }
  
  .mainTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3.438rem;
    line-height: 67px;
    color: var(--text-black);
    margin-top: 25px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  
  .Para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 35px;
    color: var(--text-black);
    margin-top: 20px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  
  .dot {
    color: var(--bg-blue);
  }