.portfolio_section {
  padding: 90px 0px;
}

.portfolioImage:hover {
  cursor: pointer;
}

.lineTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 36px;
}

.lineTitle::before {
  background-color: #2C35CD;
  content: "";
  display: inline-block;
  height: 4px;
  position: relative;
  vertical-align: middle;
  width: 25%;
  margin-right: 38px;
}

.mainTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 67px;
  color: var(--text-black);
  margin-top: 25px;
}

.formSectionPara {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #969696;
}

.colorBlack {
  color: #000 !important;
}

.Para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #5E5E5E;
  margin-top: 20px;
}

.blueButton {
  /* padding: 18px 67px; */
  border: 1px solid #2C35CD;
  color: #2C35CD;
  border-radius: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  /* line-height: 35px; */
  margin-top: 75px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* width: fit-content; */
  width: 240px;
  text-align: center;
  padding: 15px 18px;
}

.blueButton:hover {
  background-color: #2C35CD;
  border: 1px solid #2C35CD;
  color: #fff;
  /* box-shadow: 0px 4px 5px rgb(0 0 0 / 30%); */
  transition: 0.8s;
}

.dot {
  color: var(--bg-blue);
}

/* .portfolioHover {
  background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    width: 380px;
    height: 334px;
    overflow: hidden;
} */

.portfolioImageWrap {

}

.testimonial {
  /* height: 450px; */
  overflow: hidden;
}

.box {
  position: relative;
  cursor: pointer;
  /* height: 334px; */
}

.overlay {
  position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: hsla(0,0%,7%,.612);
    /* box-shadow: 0px 5px 5px 200px #0000004a inset !important; */
    /* filter: blur(20px) !important; */
    /* transform: scale(1.2); */
}

.overlay:hover {
  opacity: 1;
  /* transform: scale(1); */
}
.overlay:hover img.overlayBorder {
  margin-left: auto !important;
  animation: rightBorderAnim 2s linear;
}

@keyframes rightBorderAnim {
0% {
  opacity: 0;
}
50% {
  opacity: .5;
}
100% {
  opacity: 1;
}
}

.testimonial img:first-child {
  transform: rotate(45deg);
}
/* .overlay::before {
  left: 11px;
  width: 93%;
  top: 0px;
  height: 97%;
}
.overlay::after {
  left: 11px;
  width: 93%;
  top: 0px;
  height: 97%;
} */
.topLineOne {
  
}
.topLineTwo {

}



@media only screen and (max-width: 767px) {

  .portfolio_section {
    padding: 34px 0px 43px 0px;
  }
  .portfolioCol {
    padding: 0px 20px;
  }
  .portfolioCol div {
    width: 100% !important;
  }
  h3.lineTitle::before {
    width: 18%;
    margin-right: 15px;
    height: 3px;
  }
  h3.lineTitle {
      font-size: 16px;
      line-height: 17px;
      font-weight: 500;
  }
  h2.mainTitle {
      font-size: 1.5rem;
      line-height: 29px;
  }
  .Para {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
  }
  .blueButton {
    margin-top: 32px;
    padding: 15px 50px;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 15px;
    width: 140px;
    padding: 15px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  h3.lineTitle::before {
    width: 18%;
    margin-right: 15px;
    height: 3px;
  }
  h3.lineTitle {
      font-size: 16px;
      line-height: 17px;
      font-weight: 500;
  }
  h2.mainTitle {
      font-size: 2.5rem;
      line-height: 50px;
  }
  .Para {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 30px;
  }
  .portfolioCol div {
    width: 100% !important;
  }

}
@media (min-width: 1025px) and (max-width: 1350px) {
  h3.lineTitle::before {
      width: 18%;
      margin-right: 15px;
      height: 3px;
  }
  h3.lineTitle {
      font-size: 16px;
      line-height: 17px;
      font-weight: 500;
  }
  h2.mainTitle {
      font-size: 2.5rem;
      line-height: 50px;
  }
  .Para {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 30px;
  }
}